<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Charlemont House | Hugh Lane Gallery</title>

    <meta name="Author"
        content="Aleksandra Jaworska Gareth Walsh Edward Xilong Zhang Yue Yu Pragya Vashishtha I am so happy says Edward">
    <meta name="description"
        content="Hugh Lane Gallery houses the foremost public collection of contemporary art in Ireland; the gallery also has a dynamic temporary exhibitions programme often encompassing the permanent collection. " />
    <meta name="keywords"
        content="Art Gallery Dublin, Irish Exhibitions, Modern Art Galleries, Contemporary Exhibitions, Things to do in Dublin, tourist attraction Ireland, Places To Visit Ireland, Places to Visit Dublin" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../styles/stylesheet.css" />
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="../../app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
        <!-- Icon for browser tab -->
        <link rel="icon" href="../../photos/h-icon.png">

</head>

<body>
    <div class="page-header container-fluid bg-light" >
        <div id="hugh-lane-headings" class="clearfix">
            <h1 class="titleHeader float-left ml-4 mr-4 mt-2"><a href="../../index.html">HUGH LANE GALLERY</a></h1>
            <h1 id="gaelic-heading" class="titleHeader float-right ml-4 mr-4 mt-2"><a href="../../index.html">DÁNLANN AN HUGH
                    LANE</a></h1>
        </div>

        <div id="ad-free-heading" class="clearfix">
            <h2 class="float-right mr-4 ml-4">Admission free</h2>
        </div>

        <!-- Navigation menu -->
        <nav id="nav-top" class="navbar navbar-expand-lg bg-light navbar-light">

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Art
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../art/collections.html">Collections</a>
                            <a class="dropdown-item" href="../art/exhibitions.html">Exhibitions</a>
                            <a class="dropdown-item" href="../art/artists.html">Artists A-Z </a>
                            <a class="dropdown-item" href="../art/publications.html">Publications A-Z</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="../visit.html"
                            id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            Visit
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../visit.html#opening">Opening Hours</a>
                            <a class="dropdown-item" href="../visit.html#access">Access & Facilities</a>
                            <a class="dropdown-item" href="../visit.html#family">Family Tours</a>
                            <a class="dropdown-item" href="../visit.html#guided">Guided Tours</a>
                            <a class="dropdown-item" href="../visit.html#cafe">Café and Bookshop</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            What's on
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Collections </a>
                            <a class="dropdown-item" href="#">Exhibitions</a>
                            <a class="dropdown-item" href="#">Concerts </a>
                            <a class="dropdown-item" href="#">Public Events</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown  px-4">
                        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Learn & Engage
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../learn_and_engage/overview.html">Overview </a>
                            <a class="dropdown-item" href="../learn_and_engage/courses.html">Courses </a>
                            <a class="dropdown-item" href="../learn_and_engage/programmes.html">Programmes</a>
                            <a class="dropdown-item" href="../learn_and_engage/talks.html">Talks </a>
                            <a class="dropdown-item" href="../learn_and_engage/kids_club.html">Kids Club</a>
                        </div>
                    </li>
                    <li class="nav-item  px-4">
                        <a class="nav-link  text-dark" href="../bookshop.html">Shop</a>
                    </li>
                </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>

    <div class="mt-2 mx-5 my-5">
        <div id="main-content">
            <!-- Main Content -->
            <div class="clearfix">
                <h2 class="page-title font-weight-bold mb-5 float-left">Charlemont House</h2>
                <p class="float-right"><a href="#"> <i class="fa fa-print" aria-hidden="true"></i>Print </a></p>
            </div>

            <div class="about-content clearfix">

                <p>Charlemont House, the home of Dublin City Gallery The Hugh Lane, was commissioned by James Caulfeild
                    (1728-1799), 4th Viscount Charlemont and 1st Earl of Charlemont and built in 1765. In 1746, aged 18,
                    Charlemont went on the grand tour of Europe which was favoured by the aristocracy in the eighteenth
                    century, thus developing his lifelong interest in the Classical arts. A fluent Latin, Italian and
                    French speaker, Charlemont was the first president of the Royal Irish Academy.</p>
                <img class="w-25 h-25 float-left mr-4 mb-5" src="../../photos/charlemont_house.jpg"
                    alt="A multi-coloured oil painting of Virgin Mary, Jesus and others.">

                <p> In 1763 Charlemont commissioned the young Scottish born architect William Chambers (1723-96), whom
                    he had met in Rome, to design his new town house at the top of Parnell Square, formerly Rutland
                    Square. Because of the smaller scale of investment in Dublin, the squares and streets lacked the
                    uniformity of design found in the grand squares in English cities. However, the design for
                    Charlemont House was unique in that it provided a majestic centrepiece for the streetscape and was
                    unrivalled in Irish Georgian squares.</p>
                <p>Charlemont House is limestone-clad and set back from the street, framed by curved walls with rustic
                    details. The house and its interior are designed on strict Classical lines. In 1929 the gardens of
                    the house were built upon to accommodate the Gallery. The refurbishment was carried out by the City
                    Architect, Horace T. O'Rourke. The body of the main house has changed very little, and the upstairs
                    rooms retain some fine fireplaces including one by the renowned Italian craftsman Pietro Bossi.</p>
                <p>In 1933 Charlemont House opened as the permanent location of the Municipal Gallery of Modern Art. For
                    further information see 'Charlemont House: A Critical History' by Sean O'Reilly in <i><b>Images and
                            Insights</b> </i>, and in <i><b>Hugh Lane: Founder of A Gallery of Modern Art for Ireland.
                        </b> </i></p>
            </div>
        </div>
    </div>
    <div id="footer" class="bg-info">

        <!-- Navigation menu -->
        <nav class="navbar navbar-expand-sm ml-4 mr-5 bg-info navbar-light">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Links -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            About
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../about/hugh-lane.html">Hugh Lane</a>
                            <a class="dropdown-item" href="../about/charlemont-house.html">Charlemont House</a>
                            <a class="dropdown-item" href="../about/the-gallery.html">The Gallery</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Related Documents</a>
                        </div>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="../support.html">Support</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="../contact.html">Contact</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-white" href="https://www.dublincity.ie/council" target="_blank">Career</a>
                    </li>
                </ul>
                <button type="button" class="btn btn-primary float-right" onclick="topFunction()">Top</button>
            </div>
        </nav>
        <!-- <div class="jumbotron"> -->
        <div class="ml-5 mr-5">
            <div class="clearfix">
                <div class="form-group float-left">
                    <h2 class="footer-text text-white"> <label for="mailList">
                            <br>Join our mailing list:</label> </h2>
                    <div class="input-group-append">
                        <input type="text" class="form-control w-100" id="mailList">
                        <button type="button" class="btn btn-primary ml-2">Join</button>
                    </div>
                    <div>
                        <br> <br>
                        <a href="https://www.facebook.com/thehughlane/" class="fa fa-facebook" target="_blank"></a>&nbsp;&nbsp;
                        <a href="https://twitter.com/TheHughLane" class="fa fa-twitter" target="_blank"></a>&nbsp;&nbsp;
                        <a href="https://www.instagram.com/thehughlane/" class="fa fa-instagram" target="_blank"></a>&nbsp;&nbsp;
                        <a href="https://www.youtube.com/channel/UC-ul2v2RVcfveDkIAcvwWtQ" class="fa fa-youtube" target="_blank"></a>&nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/victoria-evans-4239ba87/" class="fa fa-linkedin" target="_blank"></a>&nbsp;&nbsp;
                    </div>

                </div>
                <div class="float-right mt-4">
                    <h2><br>Charlemont House, Parnell Square N, <br>Rotunda Dublin, D01 F2X9
                        <br><br><small>Closed today </small></h2>
                </div>
            </div>

            <div class="d-flex flex-row justify-content-center float-none">
                <a class="p-4 text-dark" href="#">Privacy Policy</a>
                <a class="p-4 text-dark" href="#">Terms of use</a>
            </div>
        </div>
    </div>


</body>

</html>